/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  border: 2px dotted #222;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  /* background-color: #000; */
  background-color: #fff;
  color: #222;
}

.hidden {
  display: none;
}
